{% extends 'base.html.twig' %}

{% block body %}
    <header class="row my-3 align-items-end">
        <div class="col-8">
            {% block page_title %}{% endblock %}
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
            {% block buttons %}{% endblock %}
        </div>
    </header>

    {% block content %}{% endblock %}
{% endblock %}
